body{
	background-color: rgb(41, 142, 234);
	font-family: Helvetica, sans-serif;
	
}

.maincontainer{
	box-sizing: border-box;
	margin-top: 40px;
	width: 400px;
	background-color: white;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.logo{
	width:200px;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2{
	
	
	padding-top: 40px;
}

input{
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	border: solid black 2px;
	
}
p{

	}

button{
	padding: 15px;
	width: 100%;
	background-color: lightgreen;
	border: none;
	color:white;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 20px;

}

.signup label{

	display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pw{
	padding-bottom: 40px;
}

.middle{
	text-align: center;
}
.pw a {
	color: gray;

}